#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [1]:
## Introduction to tuple 
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple = (1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

#### Accessing the Tuple

In [11]:
## Accessing Tuple Elements
print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

#### Tuple Operation

In [12]:
## Tuple Operation 
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [13]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [14]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

#### Immutable Nature of Tuple

In [ ]:
## immutable nature of the tuple 
##  Tuples are immutable ,meaning their elements cannot be changed once assigned

lst = [1,2,3,4,5]
print(lst)

lst[1] = "aditya"  ## mutable 
print(lst)

[1, 2, 3, 4, 5]
[1, 'aditya', 3, 4, 5]

In [16]:
## in case of tuple
numbers[1] = "aditya"

TypeError: 'tuple' object does not support item assignment

In [17]:
## Tuple Methods 
print(numbers.count(1))
print(numbers.index(3))

1
2

#### Packing and Unpacking

In [18]:
## Packing and Unpacking Tuple 

#Packing 
packed_tuple = 1,"hello",3.24
print(packed_tuple)

(1, 'hello', 3.24)

In [19]:
## Unpacking tuple 
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.24

In [21]:
## UnPacking with the *
numbers = (1,2,3,4,5,6,7,8)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7]
8

#### Nested Tuple

In [23]:
## Nested TUple 

## Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"hello",'c']]
lst[0][0:3]

[1, 2, 3]

In [24]:
lst[2][0:3]

[1, 'hello', 'c']

In [26]:
nested_tuple = ((1,2,3,4),(6,7,8,9),("hello","aditya",True,False))

## access the element inside a tuple 
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3, 4)
8

#### Iterating to Tuples

In [27]:
## iterating over nested tuple 
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3 4
6 7 8 9
hello aditya True False