#### The map() Function in Python
The map() function applies a given function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [ ]:
## syntax
## map(function,iterable)
## map(method,iterable)

In [2]:
def square(x):
    return x**2

square(3)

9

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
list(map(square,numbers))  ## here using the (function,iterable)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
## Lambda function with map
numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
## Map multiple iterables 
number1 = [1,2,3,5]
number2 = [4,5,6,7]

added_number = list(map(lambda x,y:x+y , number1,number2))
print(added_number)

[5, 7, 9, 12]

In [12]:
## map() converts a list of string to integers 
## use map to convert string to integers
str_number = ['1','2','3','4','5']
int_numbers = list(map(int,str_number))

print(int_numbers)

[1, 2, 3, 4, 5]

In [13]:
words = ["apple","banana","cherry"]
upper_word = list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [15]:
def get_name(person):
    return person["name"]

people = [
    {"name":"aditya","age":19},
    {"name":"satyam","age":12}
]
list(map(get_name,people))

['aditya', 'satyam']